@mixin center($orientation) {
    @if $orientation == "vertical" {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    } @else if $orientation == "both" {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
    } @else {
        position: relative;
        margin: 0 auto;
    }
}