._full-page {
    @include size(100vh, 100%);
    background: url("http://www.pachd.com/free-images/nature-images/nature-08.jpg");
    
    
    &--message {
        @include size(auto, 70%);
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(50%);
    }
}