$primary-text-color: #444;
$gradient: linear-gradient(90deg, $cadetblue 0%, $orange 100%);

.base {
    &--h1 {
        
    }
    &--a {
      background: $gradient;
      box-sizing: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
      &:hover {
          border-bottom: 2px solid $cadetblue;
      }
    }
}


body{ 
	@extend %helvetica;
	background: #fff;
	color: $primary-text-color;
	margin: 0; padding: 0;
}